@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  font-family: "Orbitron", sans-serif !important;
  letter-spacing: 1px !important;
}
body,
html {
  overflow-x: hidden;
  background: #06113d !important;
}

::-webkit-scrollbar {
  display: none;
}

/* img {
  object-fit: cover;
} */

/* Hide scrollbar for IE, Edge add Firefox */
body {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.font-jura {
  font-family: Jura;
}

.css-qoi9-MuiPaper-root-MuiAccordion-root:before {
  display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.cursor-pointer {
  cursor: pointer;
}

.searchingNftHover:hover {
  background: #8212f4;
}

.owl-stage-outer {
  padding-top: 20px;
}

.owl-item.active:hover {
  z-index: 999999999999;
}

/* @media only screen and (max-width: 768px) {
  .home-page {
    background-image: url("./images/MobileHomePage.png") !important;
  }
  .our-work {
    background-image: url("./images/MobileOurWork.png") !important;
  }
  .our-team {
    background-image: url("./images/MobileOurTeam.png") !important;
  }
  .contact-us {
    background-image: url("./images/MobileContactUs.png") !important;
  }
} */
